@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    @apply w-1/2 my-12 mx-auto border-collapse bg-white text-center font-sans text-xl mt-5 transition ease-out duration-1000;
}

th {
    @apply p-5 text-center bg-purple-300 text-white border border-gray-300 transition ease-out duration-1000;
}

td {
    @apply p-5 text-center border border-gray-300 transition ease-out duration-1000;
}

th:hover {
    @apply bg-purple-600 transition duration-1000;
}

.add {
    @apply w-fit bg-purple-500 text-white rounded-full p-4 shadow-lg transition duration-300 ease-out text-center cursor-pointer;
    margin-top:5%;
}

.add:hover {
    @apply bg-purple-300 shadow-inner;
}

.header{
    @apply bg-purple-300 min-w-full p-5 text-white font-sans;
    text-align: center;
}

